.stackItem--product {
  width: 100%;
}

.stackItem--customShelfDiscount {
width: 100%
}



/* .stackItem--prodsum-busca-inteligente--first {
  z-index: 9999 !important;
  position: absolute;
  margin-left: 120px;
  margin-top: -2px !important;
} */
