/* Header */
.openIconContainer {
  background-image: url(assets/feather-menu.svg);
  background-repeat: no-repeat;
  background-position: center right;
  margin-left: -6px;
/*height: 16px; pode dar erro  */
  max-width: 23px;
}
.openIconContainer .menuIcon {
  display: none;
}
/* Header - END */
/* Header Menu */
.drawer {
  width: 85% !important;
  background-color: #fff;
}
.drawerContent--menu {
  background-color: #fff;
}
.closeIconContainer {
  /* justify-content: flex-end; */
  position: relative;
  z-index: 50;
  background-color: transparent;
  width: fit-content;
  margin-left: auto;
}
.closeIconButton {
  background: url("assets/close-icon.svg") no-repeat center center;
}
.closeIcon {
  visibility: hidden;
}
.openIconContainer.openIconContainer--submenu-mobile {
  background: none;
  max-width: none;
  width: auto;
  margin: 0.5% 3%;
  background: #fff;
  border-radius: 5px;
}
.closeIconButton.closeIconButton--submenu-mobile {
  align-items: center;
  background: none;
  display: flex;
  padding: 20px 20px 0;
  width: 100%;
}
.closeIconButton.closeIconButton--submenu-mobile::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='12' viewBox='0 0 9 12' fill='white'%3E%3Cpath d='M8.1019 10.585L3.51691 6L8.1019 1.41502L6.68693 -6.18503e-08L0.686928 6L6.68693 12L8.1019 10.585Z' fill='%23E31F1A'/%3E%3C/svg%3E");
  content: "";
  display: block;
  height: 12px;
  width: 10px;
}
.closeIconButton.closeIconButton--submenu-mobile::after {
  content: "Voltar";
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-left: 5px;
  padding-bottom: 5%;
}
.closeIconButton.closeIconButton--submenu-mobile .closeIcon {
  display: none;
}
/* Header Menu - END */
