.contentCategoryName {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 5px 10px 18px;
    gap: 5px;
}

@media(max-width: 765px){
    .contentCategoryName {
        padding: 0px;
        margin-bottom: 10px;
        height: 25px;
    }
}

.categoryName {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 120%;
    display: flex;
    align-items: center;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #E2211D;
    text-align: left;
}

.redLine {
    display: flex;
    width: 20px;
    height: 0px;
    border-top: 2px solid #E2211D;
}